<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>ANALYSIS ON COVID DATA</h1><br><br>
    <h3><a href="graph">Click here for some interesting graphs</a></h3>
</body>
</html>