<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static',filename = 'css/sheet1.css')}}>
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" class="form1">
        <table align="center">
            <tr>
    <td>Username:</td>
   <td> <input type="text"></td>
    </tr>
    <tr>
    <td>Password:</td>
    <td><input type="password"></td>
    </tr>
    </table><br>
    <a href="">Forgot passoword?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit">
    </form>
</body>
</html>